.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

.benefits p {
    color: #171717;
    padding-top: 20px;
    font-size: 1.3em;
    white-space: nowrap;
    font-family: 'Montserrat';
}

.title {
    font-size: 2em;
    font-weight: 400;
    color: #171717;
    font-family: 'Montserrat';
}
