.contact {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
}

.contact h2 {
    color: #171717;
    font-weight: 400;
    font-size: 2.5em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
}

.form button {
    width: 90px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    margin-top: 10px;
    font-family: 'Montserrat';
}

.form button:hover {
    cursor: pointer;
}

.form label {
    color: #171717;
    margin-top: 5px;
    font-size: 1.3em;
}

.input {
    width: 90%;
    color: #171717;
    border: 2px solid #171717;
    border-radius: 4px;
    margin-top: 15px;
    background: none;
    height: 25px;
}

.form textarea {
    color: #171717;
    border: 2px solid #171717;
    border-radius: 4px;
    resize: none;
    width: 90%;
    margin-top: 15px;
    background: none;
}

@media (min-width: 900px) {
    .input {
        width: 50%;
    }

    .form textarea {
        width: 50%;
        height: 50px;
    }
}
