.services {
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.content h2 {
    color: #171717;
    font-family: 'Montserrat';
    font-size: 3em;
}

.services p {
    color: #171717;
    padding-bottom: 60px;
    font-size: 1.5em;
    font-family: 'Montserrat';
}

.imgContent {
    width: 298px;
    height: 193px;
}

@media (min-width: 900px) {
    .services p {
        font-size: 1.8em;
    }

    .imgContent {
        width: 696px;
        height: 486px;
        border-radius: 40px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
    }

    .imgContent:hover {
        transform: scale(1.05);
    }
}
