.navBar {
    display: flex;
    height: 50px;
    width: 100%;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    color: wheat;
}

.navOpen {
    display: flex;
    position: fixed;
    padding-top: 20px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, black, #1162ac);
    color: wheat;
}

.navLink {
    display: flex;
    font-size: 2em;
    font-weight: 400;
    padding-top: 90px;
}

.navLink:hover {
    cursor: pointer;
}

@keyframes animacionborder {
    0% {
        height: 0px;
    }
    100% {
        height: 1px;
    }
}

.logo {
    display: flex;
    font-weight: 600;
    color: wheat;
}

@media (min-width: 800px) {
    .logo {
        font-size: 1.5em;
    }
    .navBar {
        align-items: center;
        align-content: center;
        justify-content: space-around;
        height: 50px;
    }
    .linkContainer {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-around;
    }
    .navLink {
        font-weight: 400;
        padding-top: 4px;
        font-size: 1.4em;
        transition: 0.5s;
        padding-right: 10px;
    }
    .navLink:hover {
        font-size: 1.5em;
    }
    .navOnScroll {
        align-items: center;
        align-content: center;
        justify-content: space-around;
        background: linear-gradient(black, #1162ac);
        height: 50px;
        color: wheat;
    }
}

.navOnScroll {
    display: flex;
    height: 50px;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    color: wheat;
}

@media (min-width: 800px) and (max-width: 1105px) {
    .navBar {
        display: flex;
        justify-content: left;
    }

    .navLink {
        font-weight: 400;
        padding-top: 4px;
        font-size: 1.4em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
    }
}
