.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
}

.stepNumber {
    font-size: 5em;
    color: #171717;
    font-weight: 600;
}

.text {
    font-size: 2em;
    color: #171717;
    text-align: center;
}

.stepBorder {
    height: 4px;
    width: 60%;
    background-color: #171717;
}
